.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex: 1;
  position: relative;
}

.folder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: none;
}

.folder-container {
  text-decoration: none;
}

.folder-container > img {
  width: 9.4rem;
  height: 9.4rem;
}

.folder-container > p {
  font-size: 1.6rem;
  text-align: center;
}
