.dark .prose {
  --typography-light-heading: #e4e4e7;
  --typography-light-paragraph: #cacaca;
  --typography-light-anchor: #f1f1f1;
  --typography-light-anchor-hover: #d0d0d0;
}

.prose h1 {
  color: var(--typography-light-heading);
}

.prose h2 {
  color: var(--typography-light-heading);
}

.prose h3 {
  color: var(--typography-light-heading);
}

.prose p {
  color: var(--typography-light-paragraph);
  margin-top: 0.75em;
  margin-bottom: 1.25em;
}

.prose a {
  color: var(--typography-light-anchor);
}

.prose a:hover,
.prose a:focus {
  color: var(--typography-light-anchor-hover);
}

.prose ul > li {
  color: var(--typography-light-paragraph);
}

.prose h2 > a {
  text-decoration: none;
  font-weight: bold;
}

.prose h2 > a:hover {
  text-decoration: underline;
}


.prose blockquote {
  border-left: 3px solid;
}

.dark .prose blockquote {
  border-left: 3px solid var(--typography-light-heading);
}

/* Reset default quotes */
.prose blockquote > p::before, .prose blockquote > p::after {
  content: "";
}
