html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #dddcdc;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #797979;
}

.dark ::-webkit-scrollbar-track {
  background: #43464b;
}

.dark ::-webkit-scrollbar-thumb {
  background: #9ca3af;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
