@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --color-background-dark: #292f34;
    --color-background-light: #f5f5f5;
  }

  html {
    @apply box-border text-base-10;
  }

  html,
  body {
    @apply p-0 m-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply m-0 p-0 border-0 outline-0 align-baseline;
  }
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .pronunciation {
    font-family: monospace;
    padding: 2px 6px;
    border-radius: 3px;
  }
  .light .pronunciation {
    background-color: rgba(0, 0, 0, 0.08);
  }
  .dark .pronunciation {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
