node_modules
.DS_STORE

.env
.vercel
.output
.vscode

/.cache
/build
/public/build
/coverage
/api/index.js
/api/index.js.map
/app/styles/app.css

*.code-workspaceprisma/dev.db
prisma/dev.db-journal
prisma/dev.db
